<div class="col-sm-12 col-md-6 col-lg-4 box">
    <div class="mask2">
        <a href="{{ url }}" target="_blank"><img src="{{ img }}" alt="{{ img }}"></a>
    </div>
    <div class="inside">
        <h3>{{ short }}</h3>
        <div class="entry-content">
            <p>
            <b>{{ long }}</b>
            </p>
        </div>
    </div>
</div>
