<li>
  <div>
    {{ authors }}.
    <b><a href="{{ url }}" class="link-offset-2 link-danger link-underline-opacity-0"><font color='#f25e52'>{{ title }}</font></a></b>.
    <i>{{ journal }}</i>, {{ year }}
  </div>
</li>
