<li>
  <div>
    <b><a href="{{ url }}" class="link-offset-2 link-danger link-underline-opacity-0"><font color='#f25e52'>{{ title }}</font></a></b>
    <ul>
      <li>
        {{ authors }}
      </li>
      <li>
        <i>{{ journal }}</i> <b>({{ abbrev }})</b>, {{ year }}. {{#if award}}<b>{{ award }}</b>{{/if}} {{#if ar}}<span>(acceptance rate: {{ ar }}%)</span>{{/if}}
      </li>
      <!-- journal 2 if it exists -->
      {{#if journal2}}
      <li>
        <i>{{ journal2 }}</i> <b>({{ abbrev2 }})</b>, {{ year2 }}. {{#if award2}}<b>{{ award2 }}</b>{{/if}} {{#if ar2}}<span>(acceptance rate: {{ ar2 }}%)</span>{{/if}}
      </li>
      {{/if}}
      <!-- journal 3 if it exists -->
      {{#if journal3}}
      <li>
        <i>{{ journal3 }}</i> <b>({{ abbrev3 }})</b>, {{ year3 }}. {{#if award3}}<b>{{ award3 }}</b>{{/if}} {{#if ar3}}<span>(acceptance rate: {{ ar3 }}%)</span>{{/if}}
      </li>
      {{/if}}
    </ul>
  </div>
</li>
